* {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  cursor: pointer;
  clear: both;
  background: #ffffff; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  vertical-align: bottom; }

.clear:after {
  height: 0;
  content: "";
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both; }

.box {
  width: 1422px;
  height: 36px;
  line-height: 20px;
  background: #333333; }

.box h4:hover {
  color: white; }

.box a:hover {
  color: white; }

.box .box1 {
  float: left;
  margin-left: 165px;
  line-height: 36px;
  width: 300px;
  font-size: 12px; }

.box1 h4 {
  color: white;
  float: left;
  font-weight: 100; }

.box1 img {
  margin-left: 25px;
  float: left;
  margin-top: 10px; }

.box1 a {
  color: #b4a078;
  float: right; }

.box .box2 {
  margin-right: 165px;
  width: 480px;
  line-height: 36px;
  float: right; }

.box2 li {
  line-height: 36px;
  float: left;
  font-size: 12px; }

.box2 li:hover a {
  color: white; }

.box2 li:nth-child(1) a {
  border-right: none; }

.box2 li a {
  padding: 0 10px;
  border-right: 1px solid #5c5c5c;
  color: #cccccc; }

.box2 li img {
  margin-left: 10px; }

.box2 .ewq {
  border: 1px solid #eee;
  display: none;
  width: 80px;
  height: 120px;
  text-align: center;
  line-height: 30px; }

.box2 li:hover .ewq {
  display: block; }

.box2 li .bye {
  border-right: none; }

.box2 li .bye_1 {
  margin-bottom: 10px; }

.box2 li .love {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  box-shadow: 5px 5px 5px #eee; }

.box2 li:hover .love {
  display: block; }

.box4 {
  width: 230px;
  height: 75px;
  display: block;
  margin: 100px auto; }

.box5 {
  width: 350px;
  height: 50px;
  position: absolute;
  left: 940px;
  top: 150px; }

.box5 .box6 {
  outline: none;
  border: none;
  border-bottom: 1px solid #b4a179;
  width: 255px;
  color: #9d9d9d;
  border-top: 0;
  border-right: 0;
  border-left: 0; }

.one {
  width: 100%;
  position: relative;
  margin-bottom: -50px; }

.one_ul {
  width: 1000px;
  height: 15px;
  line-height: 15px;
  margin: 0 auto; }

.one .eee {
  border-right: 1px solid #5c5c5c;
  padding: 0 10px; }

.one li:hover a {
  color: #b4a078; }

.one ul li a {
  height: 15px; }

.one ul li .one1 {
  color: #b4a078;
  padding-bottom: 5px;
  border-bottom: 2px solid #b4a078; }

.one ul li a {
  float: left;
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin-right: 40px; }

.one .left:hover {
  color: #b4a078; }

.left {
  font-size: 14px;
  color: black;
  font-weight: 600;
  margin-right: 40px; }

.tab {
  width: 100%;
  height: 100px;
  float: left;
  border-bottom: 1px solid #eee;
  display: none;
  position: absolute;
  top: 30px;
  padding-top: 20px;
  z-index: 1;
  background: #fff;
  box-shadow: 1px 1px 3px #eee; }

.tab .menu {
  width: 100%;
  height: 100px;
  float: left;
  position: absolute;
  top: 30px;
  left: 180px; }

.active {
  display: block; }

.tab .menu li {
  width: 142px;
  height: 100px;
  float: left; }

.tab .menu li img {
  display: block;
  margin: 0 auto; }

.tab .menu li a {
  font-size: 14px;
  color: black;
  width: 60px;
  line-height: 14px;
  margin-left: 40px;
  text-align: center;
  margin-top: 15px; }

.carousel {
  position: relative;
  margin: 100px auto;
  width: 1070px;
  height: 310px;
  overflow: hidden; }

.carousel-list {
  position: relative; }

.carousel-list li {
  float: left; }

.direction-btn a {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 40px;
  line-height: 60px;
  background: black;
  color: #fff;
  font-size: 30px;
  text-align: center; }

.prev {
  left: 0; }

.next {
  right: 0; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  width: 40px;
  padding: 0 4px;
  background: rgba(255, 255, 255, 0.5);
  line-height: 0;
  font-size: 0;
  border-radius: 12px; }

.dots a {
  margin: 6px 4px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%; }

.dots .active {
  background: red; }

.center {
  margin: 0 auto;
  width: 1070px;
  height: 10000px;
  background: #fff;
  margin-top: -50px;
  margin-bottom: 900px; }

.center1 {
  width: 1000px;
  height: 60px;
  margin: 0 30px;
  float: left;
  line-height: 60px;
  border-bottom: 1px dashed #eee; }

.center1 ul li .center2 {
  font-size: 14px;
  color: #999999;
  float: left;
  margin-left: 40px;
  margin-right: 30px; }

.center1 ul li .center3 {
  font-size: 14px;
  color: #b4a078;
  float: left;
  margin-right: 30px; }

.center1 ul li .center4 {
  font-size: 14px;
  color: black;
  float: left;
  margin-right: 30px; }

.center1 ul li:hover .center4 {
  color: #b4a078; }

.center5 {
  width: 1000px;
  height: 60px;
  margin: 0 30px;
  float: left;
  line-height: 60px;
  border-bottom: 1px solid #eee; }

.center5 ul li .center2 {
  font-size: 14px;
  color: #999999;
  float: left;
  margin-left: 40px;
  margin-right: 30px; }

.center5 ul li .center3 {
  font-size: 14px;
  color: #b4a078;
  float: left;
  margin-right: 30px; }

.center5 ul li .center4 {
  font-size: 14px;
  color: black;
  float: left;
  margin-right: 30px; }

.center5 ul li:hover .center4 {
  color: #b4a078; }

.two {
  width: 1010px;
  height: 380px;
  margin-left: 40px;
  margin-top: 30px;
  float: left; }

.two1 {
  width: 242px;
  height: 380px;
  float: left;
  margin-right: 10px; }

.two1 h1 {
  font-size: 14px;
  color: black;
  margin-left: 30px;
  margin-top: 30px; }

.two1 img:hover {
  transform: scale(1.02); }

.two1 h1:hover {
  color: #e8bf5b; }

.two1 .two2 {
  color: red;
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin-left: 60px;
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #eee; }

.two1 h2 {
  font-size: 14px;
  color: #999999;
  margin-left: 10px;
  margin-top: 15px; }

.five {
  width: 1422px;
  height: 300px;
  margin-top: 800px; }

.five1 {
  width: 530px;
  height: 300px;
  border-right: 1px solid #e8e8e8;
  float: left; }

.five1 h1 {
  font-size: 16px;
  color: #333333;
  padding-top: 60px;
  padding-left: 315px; }

.five2 {
  width: 80px;
  heigth: 100px;
  border-right: 1px solid #e8e8e8;
  margin-left: 255px;
  margin-top: 30px;
  float: left;
  border: 1px solid #e8e8e8; }

.five2 img {
  margin-left: 20px;
  margin-top: 10px; }

.five2 h2 {
  font-size: 16px;
  color: #333333;
  margin-left: 10px;
  margin-top: 10px; }

.five2:hover h2 {
  color: #debc72; }

.five3 {
  width: 80px;
  heigth: 100px;
  margin-left: 355px;
  margin-top: 30px;
  border: 1px solid #e8e8e8; }

.five3:hover h2 {
  color: #debc72; }

.five3 img {
  margin-left: 20px;
  margin-top: 10px; }

.five3 h2 {
  font-size: 16px;
  color: #333333;
  margin-left: 10px;
  margin-top: 10px; }

.five4 {
  width: 360px;
  height: 300px;
  float: left;
  border-right: 1px solid #e8e8e8; }

.five4 h1 {
  font-size: 18px;
  color: #333333;
  margin-left: 150px;
  margin-top: 60px; }

.five4 p {
  font-size: 14px;
  color: #333333;
  margin-left: 35px;
  margin-top: 30px;
  line-height: 20px; }

.five4 h2 {
  font-size: 16px;
  color: #333333;
  margin-left: 35px;
  margin-top: 30px; }

.five6 {
  width: 150px;
  height: 50px;
  margin-left: 120px;
  margin-top: -30px; }

.go_1 {
  display: none;
  width: 120px;
  height: 120px; }

.five6:hover .go_1 {
  display: block; }

.five7 {
  width: 320px;
  height: 300px;
  float: left; }

.five7 h1 {
  font-size: 18px;
  color: #333333;
  padding-left: 115px;
  padding-top: 60px; }

.five7 .five8 {
  margin-left: 125px;
  margin-top: 25px; }

.five7 h2 {
  font-size: 16px;
  color: #b4a078;
  padding-left: 115px;
  padding-top: 10px; }

.six {
  width: 1422px;
  height: 200px;
  background: #414141;
  margin-top: 50px; }

.six1 {
  width: 1095px;
  height: 120px;
  border-bottom: 1px solid #4f4f4f;
  margin-left: 160px; }

.six2 {
  float: left;
  height: 120px;
  width: 365px; }

.six2 img {
  float: left;
  margin-top: 35px; }

.six2 h1 {
  font-size: 16px;
  color: white;
  float: left;
  margin-top: 50px; }

.six4 {
  width: 695px;
  height: 20px;
  margin-top: 25px;
  margin-left: 365px; }

.six4 ul li a {
  float: left;
  color: #99998e;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  border-right: 1px solid #4f4f4f;
  font-size: 12px; }

.six5 {
  margin-top: 10px;
  margin-left: 400px;
  font-size: 12px; }

.six6 {
  float: right;
  margin-top: -50px;
  margin-right: 320px; }

.jennfer {
  float: right;
  position: fixed;
  bottom: 370px;
  margin-left: 1350px; }

.seven {
  width: 70px;
  height: 310px;
  float: right;
  position: fixed;
  border: 1px solid #eee;
  background: #faf9f7;
  bottom: 60px;
  margin-left: 1350px; }

.seven1 h1 {
  font-size: 14px;
  color: #666666;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #eee; }

.seven1 img {
  padding-left: 15px; }

.seven1:hover h1 {
  color: #b78820; }

.seven1:hover a {
  color: #b78820; }

.seven1 a {
  font-size: 14px;
  color: #666666;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  margin-left: 15px; }
