*{
	margin: 0;
	padding: 0;
}
body{
	position:relative;
	cursor: pointer;
	clear:both;
}
a{
	text-decoration: none;

}
li{
	list-style: none;
}
img {
	vertical-align: bottom;
}
.clear:after{
	height: 0;
	content: "";
	display: block;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}
// header
.box{
	width: 1422px;
	height: 36px;
	line-height:20px;
	background:#333333;
}
.box h4:hover{
	color:white;
}
.box a:hover{
	color:white;
}
.box .box1{
	float:left;
	margin-left:165px;
	line-height:36px;
	width:300px;
	font-size:12px;

}
.box1 h4{
	color:white;
	float:left;
	font-weight:100;
}
.box1 img{
	margin-left:25px;
	float:left;
	margin-top:10px;
}
.box1 a{
	color:#b4a078;
	float:right;
}
.box .box2{
	margin-right:165px;
	width:480px;
    line-height:36px;
	float:right;
}
.box2 li{
	line-height:36px;
	float:left;
	font-size:12px;
}
.box2 li:hover a{
	color:white;
}
.box2 li:nth-child(1) a{
	border-right:none;
}
.box2 li a{
	padding: 0 10px;
	border-right: 1px solid #5c5c5c;
    color: #cccccc;
}
.box2 li img{
	margin-left:10px;
}
.box2 .ewq{
	border:1px solid #eee;
	display:none;
	width:80px;
	height:120px;
	text-align:center;
	line-height:30px;
}
.box2 li:hover .ewq{
	display:block;
}
.box2 li .bye{
	border-right:none;
}
.box2 li .bye_1{
	margin-bottom:10px;
}
.box2 li .love{
	display:none;
	width:100px;
	height:100px;
	position: absolute;;
	box-shadow:5px 5px 5px #eee;
}
.box2 li:hover .love{
	display:block;
}
.box4{
	width:230px;
	height:75px;
	display:block;
	margin: 100px auto;
}
.box5{
	width:350px;
	height:50px;
	position: absolute;
	left:940px;
	top:150px;
}
.box5 .box6{
	outline: none;
    border:none;
	border-bottom:1px solid #b4a179;
	width:255px;
	color:#9d9d9d;
	border-top:0;
	border-right:0;
	border-left:0;

}
// nav
.one{
	width:100%;
	position: relative;
	margin-bottom:-50px;
}
.one_ul{
	width:1000px;
	height:15px;
	line-height:15px;
	margin:0 auto;
	
}
.one .eee{
	border-right: 1px solid #5c5c5c;
    padding: 0 10px;
}
.one li:hover a{
	color:#b4a078;
}
.one ul li a{
	height:15px;
}
.one ul li .one1{
	color:#b4a078;
	padding-bottom:5px;
	border-bottom:2px solid #b4a078;
}
.one ul li a{
	float:left;
	color:black;
	font-size:14px;
	font-weight:600;
	margin-right:40px;
}
.one .left:hover{
	color:#b4a078;
}
.left{
	font-size:14px;
	color:black;
	font-weight:600;
	margin-right:40px;
}
.tab{
	width:100%;
	height:100px;
	float:left;
	border-bottom:1px solid #eee;
	display:none;
	position: absolute;
	top: 30px;
	padding-top:20px;
	z-index: 1;
	background: #fff;
	box-shadow:1px 1px 3px #eee;
}
.tab .menu{
	width:100%;
	height:100px;
	float:left;
	position: absolute;
	top: 30px;
	left:180px;
}
.active{
	display: block;
}
.tab .menu li{
	width:142px;
	height:100px;
	float:left;
}
.tab .menu li img{
	display:block;
	margin: 0 auto;
}
.tab .menu li a{
	font-size:14px;
	color:black;
	width:60px;
	line-height:14px;
	margin-left:40px;
	text-align:center;
	margin-top:15px;
}
// 轮播图
.carousel {
	position: relative;
	margin-top:100px;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
.carousel-list {
	position: relative;
}
.carousel-list li {
	float: left;
}
.carousel-list li img{
	position: relative;
	left:-300px;
}
.direction-btn a{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	line-height: 60px;
	background:#d0c4af;
	color: #fff;
	font-size: 30px;
	text-align: center;
	border-radius:50%;
	margin-right:100px;
	margin-left:100px;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	margin: 0 auto;
	width: 140px;
	padding: 0 4px;
	background: rgba(255, 255, 255, .5);
	line-height: 0;
	font-size: 0;
	border-radius: 12px;
}
.dots a {
	margin: 6px 4px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
}
.dots .active {
	background: red;
}

// 第二次轮播图
.like{
	// background: red;
	position: relative;
	width: 1300px;
	height: 400px;
	float:left;
	left:40px;
	top:20px;
}
.two{
	width:1095px;
	height:30px;
	margin-left:165px;
}
.two_1{
	float:left;
	line-height:30px;
	margin-top:30px;
}
.two_1 h3{
	font-size:30px;
	color:black;
	float:left;
	line-height:30px;
	margin-right:20px;
}
:hover.two_1 h3{
	color:#b4a078;
}
.two_1 p{
	font-size:12px;
	color:#333333;
	float:left;
	line-height:30px;
}
.two_2{
	float:right;
	margin-top:45px;
}
.two_2 h4{
	font-size:12px;
	color:#333333;
}
.two_2:hover h4{
	color:#debc72;
}
.btn a{
	position: absolute;
	top: 50%;
	width: 60px;
	line-height: 60px;
	background:#d0c4af;
	color: #fff;
	font-size: 30px;
	text-align: center;
	border-radius:50%;
	margin-left:80px;
}
.two_3{
	height:320px;
	margin-left:160px;
	margin-top:20px;
	float:left;
	width:1095px;
}
.two_3 .two_4{
	width:357px;
	height:320px;
	background:#e8e9ed;
	float:left;
	margin-right:10px;
	overflow:hidden;
}
.two_4 h3{
	font-size:22px;
	color:#666666;
	margin-top:50px;
	margin-left:105px;
}
.two_4 img{
	margin-top:15px;
	margin-left:156px;
}
.two_4 h4{
      margin-left:150px;
      margin-top:20px;
	  color:#666666;
}
.two_4 .two_8{
	margin-top:30px;
	margin-left:60px;
	height:150px;
}
.two_4:hover .two_8{
	transform:scale(1.1);
}
.two_5:hover .two_8{
	transform:scale(1.1);
}
.two_6:hover .two2{
	transform:scale(1.02);
}
.two_3 .two_5{
	width:357px;
	height:320px;
	background:#f5f9fb;
	float:left;
	margin-right:10px;
}
.two_5 h3{
	font-size:22px;
	color:#666666;
	margin-top:50px;
	margin-left:105px;
}
.two_5 .two_9{
	float:right;
	margin-top:-40px;
	margin-right:85px;
}
.two_5 img{
	margin-top:15px;
	margin-left:156px;
}
.two_5 h4{
      margin-left:150px;
      margin-top:20px;
	  color:#666666;
}
.two_5 .two_8{
	margin-top:30px;
	margin-left:70px;
	height:120px;

}
.two1{
	width:357px;
	height:320px;
	float:right;
}
.two1 .two_6{
	width:357px;
	height:150px;
	background:#edf1f5;
	margin-bottom:10px;
}
.two_6 h3{
	font-size:20px;
	color:#666666;
	padding-top:30px;
	margin-left:20px;
}
.two_6 .two_9{
	float:right;
	margin-top:-45px;
	margin-right:90px;
}
.two_6 img{
	margin-top:10px;
	margin-left:25px;
}
.two_6 h4{
	  margin-left:25px;
      margin-top:15px;
      font-size:20px;
	  color:#666666;
}
.two_6 .two2{
	margin-top:-62px;
	margin-left:140px;
	height:95px;
}
.two1 .two_7{
	width:375px;
	height:150px;
}
.two3{
	width:1108px;
	height:340px;
	float:left;
	margin-left:170px;
}
.two3 .two4{
	width:277px;
	height:340px;
	float:left;
	margin-top:15px;
}
.two4 h1{
	width:70px;
	height:20px;
	background:#e36844;
	color:white;
	font-size:12px;
	margin-left:80px;
	text-align:center;
}
.two4 h2{
	font-size:12px;
	margin-top:8px;
	margin-left:20px;
}
.two4 h3{
	color:red;
	margin-left:85px;
	margin-top:10px;
}
.two3 .two5{
	width:277px;
	height:340px;
	float:left;
	margin-top:15px;
}
.two5 img{
	height:250px;
}
.two5 h1{
	font-size:12px;
	margin-left:60px;
	margin-top:20px;
}
.two5 h3{
	color:red;
	margin-left:85px;
	margin-top:10px;
}
.two3 .two6{
	width:277px;
	height:340px;
	float:left;
	margin-top:15px;
}
.two6 img{
	height:250px;
}
.two6 h1{
	font-size:12px;
	margin-left:60px;
	margin-top:20px;
}
.two6 h3{
	color:red;
	margin-left:85px;
	margin-top:10px;
}
.two3 .two7{
	width:277px;
	height:340px;
	float:left;
	margin-top:15px;
}
.two7 img{
	height:250px;
}
.two7 h1{
	font-size:12px;
	margin-left:60px;
	margin-top:20px;
}
.two7 h3{
	color:red;
	margin-left:85px;
	margin-top:10px;
	width:70px;
	border-right: 2px solid #eee;
}
.two7 h4{
	color:#999999;
	font-size:14px;
	margin-left:175px;
	margin-top:-20px;
}
// section
.three{
	width:1420px;
	height:700px;
	background:#f4f0ea;
	margin-top:800px;
}
.two_1 h4{
	font-size:14px;
	color:#333333;
	margin-left:150px;
	width:75px;
	border-bottom:2px solid #b4a078;
	text-align:center;
}
.two_1 h5{
	font-size:14px;
	color:#333333;
	margin-left:275px;
	margin-top:-30px;
}
.three1{
	width:390px;
	height:530px;
	margin-top:50px;
	margin-left:165px;
	margin-right:10px;
	background:white;
}
.three1 h1{
	width:100px;
	height:40px;
	line-height:40px;
	background:red;
	color:white;
	margin-top:15px;
	margin-left:165px;
	font-size:30px;
	font-weight:100;
	border-radius:3px;
	text-align:center;
}
.three1 h2{
	margin-left:115px;
	margin-top:10px;
}
.three1 h3{
	margin-left:190px;
	margin-top:10px;
	color:red;
}
.three1:hover .go{
	transform:scale(1.01);
}
.three2{
	width:690px;
	height:540px;
	float:right;
	margin-top:-530px;
	margin-right:160px;
}
.three3{
	width:220px;
	height:260px;
	float:left;
	background:white;
	margin-right:10px;
	margin-bottom:10px;
}
.three3:hover img{
	transform:scale(1.03);
}
.three3 h1{
	margin-top:30px;
	margin-left:25px;
	font-size:14px;
}
.three3 h2{
	font-size:14px;
	color:red;
	margin-top:10px;
	margin-left:95px;
}
.three4{
	font-size:28px;
	margin-left:160px;
	margin-top:60px;
}
.three5{
	margin-right:165px;
	float:right;
	margin-top:-30px;
}
.three6{
	margin-left:165px;
	margin-top:20px;
}
.three7{
	width:868px;
	height:377px;
	float:right;
	margin-right:163px;
}
.three7 .three8{
	width:430px;
	height:185px;
	border:1px solid #f0ece4;
	float:left;
}
.three8 .three9{
	width:260px;
	height:185px;
	float:right;
}
.three8:hover img{
	transform:scale(1.02);
}
.three9 h1{
	color:#333333;
	font-size:15px;
	margin-top:20px;
}
.three9 h2{
	font-size:14px;
	color:#999999;
	margin-top:10px;
}
.three9 h3{
	font-size:14px;
	color:#999999;
	margin-right:20px;
    margin-top:20px;
}
.three9 h4{
	font-size:14px;
	color:red;
	margin-right:165px;
    margin-top:10px;
}
.three9 h5{
	width:120px;
	height:30px;
	background:red;
	line-height:30px;
	text-align:center;
	margin-right:130px;
    margin-top:10px;
    color:white;
}
.four{
	width:1095px;
	height:200px;
	margin-top:20px;
	margin-left:165px;
}
.four7{
	width:1095px;
	height:35px;
	margin-top:45px;
	margin-left:165px;
}
.four3{
	width:65px;
	height:35px;
	font-size:28px;
	color:black;
	float:left;
}
.four3:hover{
	color:#debc72;
}
.four1{
	width:400px;
	line-height:35px;
	float:left;
	margin-left:500px;
}
.four1 ul li{
	color:#333333;
	font-size:14px;
	float:left;
	margin-right:10px;
}
.four1 ul li:hover{
	color:#debc72;
}
.four2{
    font-size:16px;
    color:black;
    float:right;
    width:85px;
    line-height:35px;
}
.four7 .four2:hover{
	color:#debc72;
}
.four4{
	margin-top:20px;
	margin-left:165px;
}
.four5{
	width:1095px;
	heigth:350px;
	margin-top:20px;
	margin-left:165px;
}
.four5 .four6{
	float:left;
	margin-right:8px;
}
.four6:hover img{
	transform:scale(1.03);
}
.four6 h1{
	font-size:14px;
	color:#333333;
	margin-top:30px;
	margin-left:70px;
}
.four6 h2{
	font-size:16px;
	color:red;
	margin-top:10px;
	margin-left:105px;
}
// footer
.five{
	width:1422px;
	height:300px;
	margin-top:850px;
	border-top:1px solid #eee;
	padding-top:50px;
}
.five1{
	width:530px;
	height:300px;
	border-right:1px solid #e8e8e8;
	float:left;
}
.five1 h1{
	font-size:16px;
	color:#333333;
	padding-top:60px;
	padding-left:315px;

}
.five2{
	width:80px;
	heigth:100px;
	border-right:1px solid #e8e8e8;
	margin-left:255px;
	margin-top:30px;
	float:left;
	border:1px solid #e8e8e8;
}
.five2 img{
     margin-left:20px;
	 margin-top:10px;
}
.five2 h2{
	font-size:16px;
	color:#333333;
	margin-left:10px;
	margin-top:10px;
}
.five2:hover h2{
	color:#debc72;
}
.five3{
	width:80px;
	heigth:100px;
	margin-left:355px;
	margin-top:30px;
	border:1px solid #e8e8e8;
}
.five3:hover h2{
	color:#debc72;
}
.five3 img{
     margin-left:20px;
	 margin-top:10px;
}
.five3 h2{
	font-size:16px;
	color:#333333;
	margin-left:10px;
	margin-top:10px;
}
.five4{
	width:360px;
	height:300px;
	float:left;
	border-right:1px solid #e8e8e8;
}
.five4 h1{
	font-size:18px;
	color:#333333;
	margin-left:150px;
	margin-top:60px;
}
.five4 p{
	font-size:14px;
	color:#333333;
	margin-left:35px;
	margin-top:30px;
	line-height:20px;
}
.five4 h2{
	font-size:16px;
	color:#333333;
	margin-left:35px;
	margin-top:30px;
}
.five6{
	width:150px;
	height:50px;
	margin-left:120px;
	margin-top:-30px;
}
.go_1{
	display:none;
	width:120px;
	height:120px;
}
.five6:hover .go_1{
	display:block;
}
.five7{
	width:320px;
	height:300px;
	float:left;
}
.five7 h1{
	font-size:18px;
	color:#333333;
	padding-left:115px;
	padding-top:60px;
}
.five7 .five8{
	margin-left:125px;
	margin-top:25px;
}
.five7 h2{
	font-size:16px;
	color:#b4a078;
	padding-left:115px;
	padding-top:10px;
}
.six{
	width:1422px;
	height:200px;
	background:#414141;
	margin-top:50px;
}
.six1{
	width:1095px;
	height:120px;
	border-bottom:1px solid #4f4f4f;
	margin-left:160px;
}
.six2{
	float:left;
	height:120px;
	width:365px;

}
.six2 img{
	float:left;
	margin-top:35px;
}
.six2 h1{
	font-size:16px;
	color:white;
	float:left;
	margin-top:50px;
}
.six4{
	width:695px;
	height:20px;
	margin-top:25px;
	margin-left:365px;
}
.six4 ul li a{
	float:left;
	color:#99998e;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
	border-right:1px solid #4f4f4f;
	font-size:12px;
}
.six5{
	margin-top:10px;
	margin-left:400px;
	font-size:12px;
}
.six6{
	float:right;
	margin-top:-50px;
	margin-right:320px;
}
// aside
.jennfer{
	float:right;
	position:fixed;
	bottom:370px;
	margin-left:1350px;
}
.seven{
	width:70px;
	height:310px;
	float:right;
	position:fixed;
	border:1px solid #eee;
	background:#faf9f7;
	bottom:60px;
	margin-left:1350px;
}
.seven1 h1{
	font-size:14px;
	color:#666666;
	text-align:center;
	line-height:40px;
	border-bottom:1px solid #eee;
}
.seven1 img{
	padding-left:15px;
}
.seven1:hover h1{
	color:#b78820;
}
.seven1:hover a{
	color:#b78820;
}
.seven1 a{
	font-size:14px;
	color:#666666;
	text-align:center;
	line-height:40px;
	border-bottom:1px solid #eee;
	margin-left:15px;
}